
<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
   
    <div class="container text-center" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-3 bg-primary card">
            <h3>Earning</h3>
            <p>Rs. 5000</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 bg-primary card " >
            <h3>Patients</h3>
            <p>100</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 bg-primary card " >
            <h3>Date</h3>
            <p><%= date %></p>
        </div>
    </div>

    <div class="row" style="margin-top:30px">
        <div class="col-sm-6">
            <h3>Daily Stats</h3>
            <table class="table table-bordered table-striped" id="daily_stats_table">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Earning Rs.
                        </th>
                        <th>
                            Expense Rs.
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < result.length; i++) { %>
                    <tr>
                        <td><%= result[i].date %></td>
                        <td><%= result[i].earning %></td>
                        <td><%= result[i].expense %></td>
                    </tr>
                    <% } %>
                   
                  
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h3>Monthly Stats</h3>
            <table class="table table-bordered table-striped" id="montly_stats_table">
                <thead>
                    <tr>
                        <th>
                            Year
                        </th>
                        <th>
                            Month
                        </th>
                        <th>
                            Earning Rs.
                        </th>
                        <th>
                            Expense Rs.
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2020</td>
                        <td>July</td>
                        <th>100000</th>
                        <th>80000</th>
                    </tr>
                    <tr>
                        <td>2020</td>
                        <td>August</td>
                        <th>100000</th>
                        <th>80000</th>
                    </tr>
                    <tr>
                        <td>2020</td>
                        <td>September</td>
                        <th>100000</th>
                        <th>80000</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</main>

<footer style="margin-top: 30px;">
    <%- include ('../partials/footer') %>
</footer>
<script>
    $(document).ready(function() {
 $('#example').DataTable();
 $('#daily_stats_table').DataTable();
 $('#montly_stats_table').DataTable();
 } );
</script>
</body>
</html>